{% if layout.og_article %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.excerpt | default: page.description | default: site.description }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}/assets/site/og-default.svg" />
{% if page.cover %}<meta property="og:image" content="{{ site.url }}/{{ page.cover }}" />{% endif %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.excerpt | default: site.description }}" />
<meta name="twitter:image" content="{{ site.url }}/assets/site/og-default.svg" />
{% if page.cover %}<meta name="twitter:image" content="{{ site.url }}/{{ page.cover }}" />{% endif %}
{% endif %}